h2 {
  font-size: 1.53vw;
  color: white;
  line-height: 1.8vw;
}
h3 {
  font-size: 1.4vw;
  color: white;
  font-weight: bold;
}
h4 {
  font-size: 1.1vw;
  color: white;
}
h5 {
  font-size: 0.967vw;
  color: white;
  display: inline-block;
}
/*   синяя деталь  */
.border, .setka11 >div {
  border: 0.27vw solid #0076BE;
}
.shtuka2, .shtuka {
  width: 99.6vw;
  height: 1.45vw;
}
.shtuka {
  padding-top: 2vw;
  margin-left: 0.7vw;
}
.shtuka > div, .shtuka2 > div {
  width: 3.125vw;
  height: 1.57vw;
  display: inline-block;
  margin-left: -0.5vw;
}
.shtuka div:nth-of-type(2), .shtuka2 div:nth-of-type(2) {
  width: 90.903vw;
  height: 1.57vw;
  overflow: hidden;
}
.shtuka1 {
  width: 90.9vw;
  height: 2vw;
  background: url('../images/shtuka.svg');
  background-size: 100vw;
}
  /*  панель  */
.panel {
  width: 100vw;
  height: 55.5vw;
}
/* приветствие */
.privet {
  width: 57.7vw;
  height: 18vw;
  display: inline-block;
}
.ramka {
  width: 53.7vw;
  height: 15.6vw;
  background: url('../images/ramka1.svg');
  background-size: 52.2vw;
  margin-top: 3.7vw;
  margin-left: 4.3vw;
  padding: 0.8vw 0;
  background-repeat: no-repeat;
}
/* * {
  box-sizing: border-box;
} */
.ramka1 {
  border: 0.27vw solid #0076BE;
}
.ramka1 {
  width: 49.3vw;
  height: 11.8vw;
  margin: 0 1.21vw;
  overflow: hidden;
}
.ramka1 > .setka {
  width: 101vw;
  height:101vw;
  margin-left: -0.3vw;
  margin-top: -0.1vw;
  padding: 1.35vw 0;
  background: url('../images/setka.svg');
  background-size: 50vw;
}
.setka > h2 {
  margin-top: 0.1vw;
  margin-left: 1.8vw;
}

/* карта */
.map1 {
  width: 42vw;
  height: 28.7vw;
  display: inline-block;
  float:right;
}
.ram{
  width: 37vw;
  height: 23vw;
  margin-top: 3.2vw;
  margin-left: 1.1vw;
  padding: 1.1vw 0;
  background: url('../images/ramka2.svg');
  background-size: 36.7vw;
  background-repeat: no-repeat;
}
.ram > .ramka1 {
  width: 33.7vw;
  height: 22.1vw;
  margin-left: 1.1vw;
}
.ram > .ramka1 > .map{
  width: 36vw;
  height: 23vw;
  padding: 8.9vw 0;
  background: url('../images/map.svg');
  background-size: 33.9vw;
}
.circle{
  width: 0.7vw;
  height: 0.2vw;
  border-radius: 100%;
  padding: 0.2vw 0;
  margin-left: 19.5vw;
  background: #D65B34;
}
.circle > div {
  width: 0.31vw;
  height: 0.3vw;
  border: 0.01vw solid #2B2A2B;
  margin: -0.08vw auto;
  border-radius: 100%;
}
/* кнопки */
.knopki {
  width: 58vw;
  height: 26vw;
  display: inline-block;
}
.knopki1 {
  width: 53vw;
  height: 21vw;
  margin-top: 0.9vw;
  margin-left: 4.3vw;
  padding: 1.2vw 0;
  background: url('../images/ramka3.svg');
  background-size: 52.3vw;
  background-repeat: no-repeat;
}
.knopki1 > .ramka1 {
  width: 49.5vw;
  height: 19.6vw;
  margin: 0 1.1vw;
}
.knopki1 > .ramka1 > div:nth-of-type(1) {
  width: 45.9vw;
  height: 3vw;
  margin-top: 1.7vw;
  margin-left: 1.6vw;
}
/* круглые кнопки */
.setka1 {
  width: 46.2vw;
  height: 3vw;
  background: url('../images/setka1.svg');
  background-size: 47.2vw;
  margin-left: -0.2vw;
  margin-top: -0.27vw;
  padding: 0.9vw 0;
}
.setka11 {
  width: 45.3vw;
  height: 1.6vw;
  margin-left: 1.66vw;
  margin-top: 0.1vw;
}
.setka11 > div {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  display: inline-block;
  background: #2B2A2B;
  margin-left: 0.095vw;
}
.setka11 > div:nth-of-type(1) {
  margin-left: 0vw;
}
.c01 {
  animation: crug .9s alternate infinite;
}
.c02 {
  animation: crug1 .9s alternate infinite;
}
.c03 {
  animation: crug .8s alternate infinite;
}

@keyframes crug {
  0% {border: 0.27vw solid #0076BE;}
  25% {border: 0.27vw solid #D65B34;}
}
@keyframes crug1 {
  0% {border: 0.27vw solid #0076BE;}
  50% {border: 0.27vw solid #D65B34;}
}
.c01 {
  animation: c01 2s alternate infinite;
}
.c02 {
  animation: c02 2s alternate infinite;
}
.c03 {
  animation: c03 2s alternate infinite;
}
.c04 {
  animation: c04 2s alternate infinite;
}
.c05 {
  animation: c05 2s alternate infinite;
}
.c06 {
  animation: c06 2s alternate infinite;
}
.c07 {
  animation: c07 2s alternate infinite;
}
.c08 {
  animation: c08 2s alternate infinite;
}
.c09 {
  animation: c09 2s alternate infinite;
}
.c10 {
  animation: c10 2s alternate infinite;
}
.c11 {
  animation: c11 2s alternate infinite;
}
.c12 {
  animation: c12 2s alternate infinite;
}
.c13 {
  animation: c13 2s alternate infinite;
}
.c14 {
  animation: c14 2s alternate infinite;
}
.c15 {
  animation: c15 2s alternate infinite;
}
.c16 {
  animation: c16 2s alternate infinite;
}
.c17 {
  animation: c17 2s alternate infinite;
}
.c18 {
  animation: c18 2s alternate infinite;
}
.c19 {
  animation: c19 2s alternate infinite;
}
@keyframes c01 {
  4% { border: 0.27vw solid #0076BE;}
  5% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c02 {
  9% { border: 0.27vw solid #0076BE;}
  10% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c03 {
  14% { border: 0.27vw solid #0076BE;}
  15% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c04 {
  19% { border: 0.27vw solid #0076BE;}
  20% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c05 {
  24% { border: 0.27vw solid #0076BE;}
  25% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c06 {
  29% { border: 0.27vw solid #0076BE;}
  30% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c07 {
  34% { border: 0.27vw solid #0076BE;}
  35% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c08 {
  39% { border: 0.27vw solid #0076BE;}
  40% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c09 {
  44% { border: 0.27vw solid #0076BE;}
  45% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c10 {
  49% { border: 0.27vw solid #0076BE;}
  50% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c11 {
  54% { border: 0.27vw solid #0076BE;}
  55% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c12 {
  59% { border: 0.27vw solid #0076BE;}
  60% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c13 {
  64% { border: 0.27vw solid #0076BE;}
  65% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c14 {
  69% { border: 0.27vw solid #0076BE;}
  70% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c15 {
  74% { border: 0.27vw solid #0076BE;}
  75% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c16 {
  79% { border: 0.27vw solid #0076BE;}
  80% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c17 {
  84% { border: 0.27vw solid #0076BE;}
  85% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c18 {
  89% { border: 0.27vw solid #0076BE;}
  90% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
@keyframes c19 {
  94% { border: 0.27vw solid #0076BE;}
  95% { border: 0.27vw solid #D65B34;}
  100% { border: 0.27vw solid #D65B34;}
}
.knopki1 > .ramka1 > div:nth-of-type(2) {
  width: 21.3vw;
  height: 8.4vw;
  margin-top: 1.1vw;
  margin-left: 1.6vw;
  display: inline-block;
}
/* информация - табло */
.setka2 {
  width: 23vw;
  height: 7vw;
  background: url('../images/setka2.svg');
  margin-left: -0.3vw;
  margin-top: -0.26vw;
  padding: 1.6vw 0;
}
.setka2 > div:nth-of-type(2),.setka2 > div:nth-of-type(3), .setka2 > div:nth-of-type(4) {
  margin-top: 0.4vw;
}
.setka2 > div > h4:nth-of-type(2n+1) {
  font-weight: bold;
  margin-left: 1vw;
  display: inline-block;
}
.setka2 > div > h4:nth-of-type(2n+2) {
  font-weight: normal;
  display: inline-block;
}

/* прямоугольные кнопки */
.knopochki {
  width: 23vw;
  height: 10.2vw;
  display: inline-block;
  margin-left: -0.8vw;
}
.knopochki > div {
  width: 24vw;
  height: 2.3vw;
}
.knopochki > div:nth-of-type(2), .knopochki > div:nth-of-type(3) {
  margin-top: 1.1vw;
}
.kn {
  width: 3.2vw;
  height: 1.6vw;
  border: 0.27vw solid #0076BE;
  margin-left: 0.5vw;
  display: inline-block;
  background: #2B2A2B;
}
.knopochki > div > div:nth-of-type(1) {
  margin-left: 0.07vw;
}
.kn:hover {
  background: #0076BE;
  transition: all .3s;
}
/* ползунки */
.polzunki {
  width: 46.7vw;
  height: 10vw;
  margin-left: 1.3vw;
  margin-top: -0.08vw;
}
.polzunok {
  width: 15vw;
  height: 1.7vw;
  padding: 0.4vw 0;
  display: inline-block;
}
.p1 {
  width: 14.9vw;
  height: 0.6vw;
  border: 0.1vw solid #0076BE;
  margin-left: 0.15vw;
}
.p {
  height: 0.2vw;
  background: #0076BE;
  margin-left: 0.5vw;
  margin-top: -0.5vw;
}
.p01 {
  animation: p01 2s linear infinite;
}
.p02 {
  animation: p02 4s linear infinite;
}
.p03 {
  animation: p03 3s linear infinite;
}
.c{
  width: 1vw;
  height: 1vw;
  border: 0.3vw solid #D65B34;
  background: #2B2A2B;
  margin-top: -1vw;
  border-radius: 100%;
}
.c1 {
  margin-left: 12.5vw;
  animation: c1 2s linear infinite;
}
@keyframes c1 {
  0% {margin-left: 1.5vw;}
  50% {margin-left: 12.5vw;}
  100% {margin-left: 1.5vw;}
}
@keyframes p01 {
  0% {width: 1vw;}
  50% {width: 12.3vw;}
  100% {width: 1vw;}
}
.c2 {
  animation: c2 4s linear infinite;
}
.polzunok:hover > .p01, .polzunok:hover > .c1 {
  animation-play-state: paused;
}
@keyframes c2 {
  0% {margin-left: 12.5vw;}
  50% {margin-left: 1.5vw;}
  100% {margin-left: 12.5vw;}
}
@keyframes p02 {
  0% {width: 12.3vw;}
  50% {width: 1vw;}
  100% {width: 12.3vw;}
}
.polzunok:hover > .p02, .polzunok:hover > .c2 {
  animation-play-state: paused;
}
.c3 {
  animation: c3 3s linear infinite;
}
@keyframes c3 {
  0% {margin-left: 1vw;}
  50% {margin-left: 12.5vw;}
  100% {margin-left: 1vw;}
}
@keyframes p03 {
  0% {width: 2vw;}
  50% {width: 12.3vw;}
  100% {width: 2vw;}
}
.polzunok:hover > .p03, .polzunok:hover > .c3 {
  animation-play-state: paused;
}
/* город */
.city {
  width: 36vw;
  height: 11.7vw;
  display: inline-block;
  margin-top: -12.4vw;
  margin-right: 6.2vw;
  float: right;
}
.city1 {
  width: 25vw;
  height: 15vw;
  background: url('../images/ramka4.svg');
  background-size: 24.23vw;
  margin-left: 1.2vw;
  margin-top: -2.7vw;
  background-repeat: no-repeat;
  padding: 1.2vw 0;
}
.city1 > .ramka1 {
  width: 21.3vw;
  height: 9.9vw;
  margin: 0 1.2vw;
}
.setka3 {
  width: 22vw;
  height: 8vw;
  background: url('../images/setka3.svg');
  background-size: 22vw;
  margin-left: -0.4vw;
  margin-top: -0.3vw;
  padding: 1.2vw 0;
}
.setka3 > h2 {
  margin-left: 1.8vw;
  font-weight: bold;
}
.setka3 > div > h4:nth-of-type(2n+1) {
  font-weight: bold;
  margin-left: 1.8vw;
  display: inline-block;
}
.setka3 > div > h4:nth-of-type(2n+2) {
  font-weight: normal;
  display: inline-block;
}
.setka3 div:nth-of-type(1){
  margin-top: 0.1vw;
}
.setka3 > div {
  margin-top: 0.4vw;
}
/* радар */
.radar {
  width: 15vw;
  height: 14vw;
  display: inline-block;
  margin-top: -16.1vw;
  margin-right: 1.7vw;
  float: right;
}
.radar1 {
  width: 12vw;
  height: 12vw;
  background: url('../images/ramka5.svg');
  background-size: 12vw;
  background-repeat: no-repeat;
  margin-left: 0.1vw;
  margin-top: 1.3vw;
  padding: 0.9vw 0;
}
.cir {
  width: 9vw;
  height: 9vw;
  border: 0.6vw solid #0076BE;
  margin: 0 1vw;
  border-radius: 100%;
  overflow: hidden;
}
.c001 {
  width: 10vw;
  height: 0.2vw;
  background: #0076BE;
}
.cir > div:nth-of-type(1) {
  margin-left: -0.2vw;
  transform: rotate(45deg);
  margin-top: 4.65vw;
}
.cir > div:nth-of-type(2) {
  margin-left: -0.8vw;
  transform: rotate(-45deg);
}
.cir > div:nth-of-type(3) {
  margin-top: -0.6vw;
}
.cir > div:nth-of-type(4) {
  margin-left: -0.5vw;
  transform: rotate(90deg);
}
.cir1 {
  border: 0.14vw solid #0076BE;
  border-radius: 100%;
  margin: 0 auto;
  padding: 0.77vw 0;
}
.cc1 {
  width: 7.6vw;
  height: 6.1vw;
  margin-top: -4.2vw;
}
.cc2 {
  width: 5.5vw;
  height: 4vw;
  margin-top: 0.1vw;
}
.cc3 {
  width: 3.3vw;
  height: 1.7vw  ;
  margin: 0.2vw 1vw;
}
.cc4 {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  background: #0076BE;
  margin-left: 1.13vw;
  margin-top: 0.36vw;
}
.gradient {
  width: 12vw;
  height: 12vw;
  background: url('../images/gradient.svg');
  background-size: 12.2vw;
  margin-left: -1.6vw;
  margin-top: -9.7vw;
  transform: rotate(0deg);
  animation: anim 3s linear infinite;
}
@keyframes anim {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.or {
  width: 12vw;
  height: 12vw;
  margin-left: -1.6vw;
  margin-top: -12vw;
  animation: anim 3s linear infinite, opacityy .4s alternate infinite;
}
.anim > div:nth-of-type(2){
  background: url('../images/circle1.svg');
  background-size: 11vw;
}
.anim > div:nth-of-type(3){
  background: url('../images/circle2.svg');
  background-size: 11vw;
  animation: anim 3s linear infinite, opacityy .8s alternate infinite;

}
.anim > div:nth-of-type(4){
  background: url('../images/circle3.svg');
  background-size: 11vw;
}
.anim > div:nth-of-type(5){
  background: url('../images/circle4.svg');
  background-size: 11vw;
  animation: anim 3s linear infinite, opacityy1 .4s alternate infinite;

}
.anim > div:nth-of-type(6){
  background: url('../images/circle5.svg');
  background-size: 11vw;
  animation: anim 3s linear infinite, opacityy1 .8s alternate infinite;

}
@keyframes opacityy1 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* вторая синяя деталь */
.shtuka2 {
  margin: -11vw 1vw;
}
/* информация о пользователе */
.person {
  width: 28vw;
  height: 49vw;
  display: inline-block;
  background: url('../images/ramka6.svg');
  background-size: 27.3vw;
  background-repeat: no-repeat;
  margin-left: 3.2vw;
  margin-top: 14.8vw;
  padding: 1.1vw 0;
}
.person > .ramka1 {
  width: 24.6vw;
  height: 48vw;
  margin: 0 1.1vw;
  overflow: visible;
}
.person > .ramka1 > .r1{
  width: 10vw;
  height: 14.5vw;
  margin: -0.25vw -0.2vw;
  display: inline-block;
}
.info > h2 {
  font-weight: bold;
  font-size: 1.24vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
}
.info {
  height: 14.7vw;
  display: inline-block;
  float: right;
}
.info > div > h5 {
  font-size: 0.82vw;
  display: inline-block;
}

.info > div:nth-of-type(1), .info > div:nth-of-type(2), .info > div:nth-of-type(3) {
  margin-left: 0.5vw;
}
.info > div:nth-of-type(1) {
  margin-top: 0.1vw;
}
.info > div > h5:nth-of-type(1){
  margin-right: 0.2vw;
  font-weight: bold;
}
.info > div:nth-of-type(1) > h5:nth-of-type(2), .info > div:nth-of-type(2) > h5:nth-of-type(2){
  margin-left: -0.4vw;
}
.sred {
  margin-left: 0.2vw;
}
.puls {
  width: 12.7vw;
  height: 7.5vw;
  display: inline-block;
  margin: 0.9vw 0.6vw;
}
.setkaa {
  width: 14vw;
  height: 7vw;
  background: url(../images/setka4.svg);
  margin-left: -0.3vw;
  padding: 0.7vw 0;
}
.puls1 {
  width: 14vw;
  height: 3.7vw;
  background: url('../images/puls1.svg');
  background-size: 66vw;
  background-repeat: repeat;
  margin-top: 1vw;
  animation: puls 15s linear infinite;
}
@keyframes puls {
  0% {background-position: -100%;}
  100% {background-position: 0;}
}
.photo {
  width: 10vw;
  height: 16vw;
  background: url('../images/photo.png');
  background-size: 10.3vw;
  margin: -0.3vw -0.2vw;
}
.setkaa > p {
  font-size: 0.5vw;
  color: #D65B34;
  margin-top: 0.3vw;
  margin-left: 0.6vw;
}
.person > .ramka1 >h2 {
  font-weight: bold;
  margin-top: 0.6vw;
  margin-left: 0.8vw;
}
.person > .ramka1 > div:nth-of-type(3), .person > .ramka1 > div:nth-of-type(4), .person > .ramka1 > div:nth-of-type(5) {
  margin-left: 0.9vw;
  margin-top: 0.2vw;
  display: inline-block;
}
.person > .ramka1 > div:nth-of-type(3) {
  margin-top: 0.2vw;
}
.person > .ramka1 > div > h5:nth-of-type(1) {
  font-weight: bold;
}
.person > .ramka1 > div > h5:nth-of-type(2) {
  margin-left: -0.1vw;
}
.person > .ramka1 > h3:nth-of-type(1) {
  margin-left: 0.8vw;
  margin-top: 1.6vw;
}
.r2 {
  width: 21.5vw;
  height: 1.3vw;
  margin-left: 0.9vw;
  margin-top: 0.6vw;
  animation: shkala0 3s steps(1) alternate infinite;
}
.r2 > div {
  width: 21.5vw;
  height: 2vw;
  background: url('../images/shkala.svg');
  background-size: 23.4vw;
  background-position: 0vw -100vw;
  animation: shkala 3s steps(1) alternate infinite;
}
@keyframes shkala0 {
  27% {border: 0.27vw solid #0076BE;}
  28% {border: 0.27vw solid #D65B34;}
}
@keyframes shkala {
  0% {background-position: 0 97vw;}
  7% {background-position: 0 95vw;}
  14% {background-position: 0 93vw;}
  21% {background-position: 0 91vw;}
  28% {background-position: 0 89vw;}
  35% {background-position: 0 87vw;}
  42% {background-position: 0 85vw;}
  47% {background-position: 0 83vw;}
  56% {background-position: 0 85vw;}
  63% {opacity: 1;}
  70% {opacity: 0;}
  77% {opacity: 1;}
  84% {opacity: 0;}
  91% {opacity: 1;}
  100% {opacity: 0;}
}
.person > .ramka1 > h3:nth-of-type(2) {
  margin-left: 0.8vw;
  margin-top: 1.1vw;
}
.person > .ramka1 > h5 {
  margin-left: 0.9vw;
  margin-top: 1.2vw;
}
.r3 {
  width: 21.5vw;
  height: 1.3vw;
  margin-left: 0.8vw;
  margin-top: 0.2vw;
  background: url('../images/shkala1.svg');
  background-size: 23.4vw;
}
.r001 {
  background-position: 0 -100vw;
  animation: shkala1 1s steps(1) alternate infinite;
}
@keyframes shkala1 {
  0% {background-position: 0 -92vw;}
  12% {background-position: 0 -96vw;}
  24% {background-position: 0 -98vw;}
  36% {background-position: 0 -100vw;}
  48% {background-position: 0 -102vw;}
  60% {background-position: 0 -100vw;}
  72% {background-position: 0 -98vw;}
  84% {background-position: 0 -96vw;}
  96% {border: 0.27vw solid #0076BE}

}
.r002 {
  background-position: 0 -93vw;
  animation: shkala2 2s steps(1) alternate infinite;
}
@keyframes shkala2 {
  0% {background-position: 0 -100.5vw;}
  7% {background-position: 0 -102.5vw;}
  14% {background-position: 0 -104.5vw;}
  21% {background-position: 0 -106.5vw;}
  28% {background-position: 0 -108.5vw;}
  35% {background-position: 0 -110.5vw;}
  42% {background-position: 0 -108.5vw;}
  49% {background-position: 0 -106.5vw;}
  56% {background-position: 0 -104.5vw;}
  63% {background-position: 0 -106.5vw;}
  70% {background-position: 0 -108.5vw;}
  77% {background-position: 0 -110.5vw;}
  84% {background-position: 0 -108.5vw;}
  91% {background-position: 0 -106.5vw;}
  100% {background-position: 0 -104.5vw;}
}
.r003 {
  border: 0.27vw solid #D65B34;
}
.r003 > div {
  width: 21.5vw;
  height: 2vw;
  background: url('../images/shkala1.svg');
  background-size: 23.4vw;
  animation: shkala3 2s steps(1) alternate infinite;
}
@keyframes shkala3 {
  0% {background-position: 0 -81.5vw;}
  7% {background-position: 0 -83.5vw;}
  14% {background-position: 0 -85.5vw;}
  21% {background-position: 0 -87.5vw;}
  28% {background-position: 0 -85.5vw;}
  35% {background-position: 0 -83.5vw;}
  42% {background-position: 0 -81.5vw;}
  49% {background-position: 0 -79.5vw;}
  56% {opacity: 1;}
  63% {opacity: 0;}
  70% {opacity: 1;}
  77% {opacity: 0;}
  84% {opacity: 1;}
  91% {opacity: 0;}
  100% {opacity: 1;}
}
.person > .ramka1 >div:nth-last-of-type(1) {
  width: 21.96vw;
  height: 2vw;
  background: #D65B34;
  margin-left: 0.9vw;
  margin-top: 1.9vw;
  padding: 0.7vw 0vw;
}
.person > .ramka1 >div > p {
  color: white;
  font-weight: bold;
  font-size: 2.1vw;
  text-align: center;
  animation: opacityy .4s alternate infinite;
  animation-play-state: paused;
}
.person > .ramka1 >div > p:hover {
  animation-play-state: running;
}
/* карта */
.mapp {
  width: 66.9vw;
  height: 67vw;
  display: inline-block;
  float: right;
  background: url('../images/ramka7.svg');
  background-size: 66.3vw;
  background-repeat: no-repeat;
  padding: 1.1vw 0;
  margin-right: 2.3vw;
  margin-top: -51.2vw;
}
.mr{
  width: 63.5vw;
  height: 65vw;
  margin: 0 1vw;
}
.map01 {
  width: 66vw;
  height: 66vw;
  background: url('../images/map01.png');
  background-size: 64vw;
  margin: -0.6vw -0.2vw;
}
.tochka {
  width: 1.6vw;
  height: 1vw;
  background: #0076BE;
  border-radius: 100%;
  padding: 0.4vw 0;
}
.mr > div:nth-of-type(2) {
  animation: opacityy 1s alternate infinite;
}
.mr > div:nth-of-type(4) {
  animation: opacityy .8s alternate infinite;
}
.mr > div:nth-of-type(5) {
  animation: opacityy 1s alternate infinite;
}
.mr > div:nth-of-type(6) {
  animation: opacityy .7s alternate infinite;
}
.mr > div:nth-of-type(7) {
  animation: opacityy .5s alternate infinite;
}
.tochka > div {
  width: 0.8vw;
  height: 0.8vw;
  border: 0.1vw solid #2B2A2B;
  margin: 0 auto;
  border-radius: 100%;
}
.t1 {
  margin: -4vw 18.7vw;
}
.t2 {
  margin: -15.7vw 47vw;
}
.t3 {
  margin: 4vw 29vw;
}
.t4 {
  margin: -0.7vw 12vw;
}
.t5 {
  margin: -34.7vw 59vw;
}
.t6 {
  margin: 32.4vw 3.8vw;
}
.persononthemap {
  width: 20vw;
  height: 40vw;
  margin: -32.8vw 37.7vw;
}
.persononthemap > div:nth-of-type(1) {
  width: 19.9vw;
  height: 18.4vw;
  background: url('../images/rectangle.svg');
  background-size: 20vw;
}
.photoo {
  width: 19vw;
  height: 19vw;
  background: url('../images/photoo.png');
  background-size: 20vw;
}
.persononthemap > div:nth-of-type(3) {
  width: 19.9vw;
  height: 16.4vw;
  background: url('../images/danger.png');
  background-size: 20vw;
  margin: -34.1vw 0vw;
}
.r01 {
  width: 19.6vw;
  height: 2.6vw;
  border: 0.13vw solid #0076BE;
  background: #2B2A2B;
  margin: 14.9vw 0vw;
}
.r01 > div {
  width: 20vw;
  height: 2vw;
  background: url('../images/ramka13.svg');
  background-size: 19.8vw;
  background-repeat: no-repeat;
  padding: 0.8vw 0;
  margin: -0.4vw -0.1vw;
}
.r01 > div > h2 {
  text-align: center;
}
.persononthemap > div:nth-of-type(2) {
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  background: #0076BE;
  margin: 16.2vw 8vw;
}
/* график */
.grafic {
  width: 29vw;
  height: 15vw;
  background: url('../images/ramka8.svg');
  background-size: 27.3vw;
  margin-left: 3.2vw;
  margin-top: -0.3vw;
  background-repeat: no-repeat;
  padding: 1.1vw 0;
}
.grafic > img {
  width: 25.1vw;
  margin: 0vw 1.1vw;
}
/* нижняя панель */
.panell {
  width: 100vw;
  height: 19vw;
}
/* табло с кнопками погоды */
.weather {
  width: 24.34vw;
  height: 14vw;
  background: url(../images/ramka9.svg);
  background-size: 24.4vw;
  display: inline-block;
  float: left;
  margin: 1.6vw 3.2vw;
}
.knop {
  width: 9.7vw;
  height: 1vw;
  background: #0076BE;
  display: inline-block;
  margin: 1.2vw 1.1vw;
  padding: 1.8vw 0;
}
.weather > div:nth-of-type(1) {
  background: #D65B34;
}
.weather > div:nth-of-type(2),.weather > div:nth-of-type(4)  {
  float: right;
}
.weather > div:nth-of-type(3),.weather > div:nth-of-type(4)  {
  margin-top: 1.4vw;
}
.knop > h4 {
  color: black;
  font-weight: bold;
  text-align: center;
}
.blue:hover {
  background: #D65B34;
  transition: .5s;
}
.sos {
  padding: 1.2vw 0;
  height: 2.2vw;
}
.oa {
  font-size: 2.2vw;
  opacity: 1;
  animation: opacityy .4s linear infinite;
  animation-play-state: paused;
}
.sos:hover > .oa {
  animation-play-state: running;
}
/* срочноо */
.srochno {
  width: 40vw;
  height: 13vw;
  background: url(../images/ramka11.svg);
  background-size: 39.6vw;
  display: inline-block;
  background-repeat: no-repeat;
  float: left;
  margin-top: 0.5vw;
  padding: 1.3vw 0;
}
.rr {
  width: 36.8vw;
  height: 6.6vw;
  margin: 0 1.1vw;
  padding: 2.4vw 0;
}
.rr > p {
  font-size: 6.6vw;
  font-weight: bold;
  text-align: center;
  color: white;
  animation: opacityy .5s alternate infinite;
}
@keyframes opacityy {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
/* время */
.time {
  width: 27vw;
  height: 13vw;
  display: inline-block;
  margin: 0.5vw 0.2vw;
  background: url(../images/ramka12.svg);
  background-size: 26.2vw;
  background-repeat: no-repeat;
  padding: 1.1vw 0;
}
.rr1 {
  width: 23.4vw;
  height: 11.4vw;
  margin: 0 1.1vw;
}
.sun {
  width: 8.5vw;
  height: 8.5vw;
  display: inline-block;
  float: left;
  background: url(../images/weather.svg);
  background-size: 8.5vw;
  margin: 1.1vw 0.7vw;
  background-position: 0 0vw;
  animation: weather0 5s steps(1) infinite;
}
@keyframes weather0 {
  0% {background-position: 0 0vw;}
  60% {background-position: 0 18vw;}
}
.text {
  width: 13vw;
  height: 6vw;
  margin: 2.5vw 10.2vw;
}
.text > div {
  color: white;
  font-weight: 500;
  font-size: 4vw;
  display: inline-block;

}
.clock {
  width: 21vw;
  height: 4vw;
  margin: 0.8vw -4.9vw;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.cl-e {
  width: 1.9vw;
  height: 6.9vw;
}
.num {
  width: 4vw;
  color: white;
  line-height: 7vw;
  font-size: 4vw;
  text-align: center;
  position: absolute;
  margin: -1.9vw -2.2vw;
}
.cl-d {
  width: 2vw;
  height: 8vw;
  vertical-align: top;
  line-height: 4.5vw;
  display: inline-block;
  font-weight: bold;
  font-size: 3.8vw;
  animation: blink .5s alternate linear infinite;
}
.sec-e {
  animation: sec 5s steps(1) infinite;
  margin: -1.8vw 0.8vw;
}
.sec-m {
  margin: -1.9vw -1.3vw;
  animation: sec 250s steps(1) infinite;
}
.sec-dm {
  animation: sec 2500s steps(1) infinite;
}
.sec-d {
  animation: dec 25s steps(1) infinite;
  margin: -1.8vw -0.1vw;
}
@keyframes sec {
  0% {top: 0vw;}
  10% {top: -7vw;}
  20% {top: -14vw;}
  30% {top: -21vw;}
  40% {top: -28vw;}
  50% {top: -35vw;}
  60% {top: -42vw;}
  70% {top: -49vw;}
  80% {top: -56vw;}
  90% {top: -63vw;}
  100% {top: -70vw;}
}
@keyframes blink {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes dec {
  0% {top: 0vw;}
  20% {top: -7vw;}
  40% { top: -14vw;}
  60% {top: -21vw;}
  80% {top: -28vw;}
  100% {top: -35vw;}
}

.clock > div {
  display: inline-block;
}
.text > div:nth-of-type(1){
  font-size: 1.6vw;
}
.clock > div:nth-of-type(1){
  margin: 0vw -0.1vw;
}
.clock > div:nth-of-type(2){
  margin: 0vw -2.8vw;
}
.clock > div:nth-of-type(3){
  margin: -0.6vw 0.1vw;
}
.clock > div:nth-of-type(4){
  margin: 0vw -2.6vw;
}
/* футер */
.theend {
  width: 99.45vw;
  height: 7.4vw;
  margin: 0.7vw 0vw;
}
.theend > div {
  width: 100vw;
  height: 10vw;
  margin: -0.23vw -0.35vw;
  background: url('../images/setka6.svg');
  background-size: 100vw;
}
.theend > div > h2:nth-of-type(1) {
  display: inline-block;
  margin: 1.4vw 5.5vw;
}
.theend > div > h2:nth-of-type(2) {
  display: inline-block;
  float: right;
  margin: 1.4vw 5vw;
}
.theend > div > h2:nth-of-type(3) {
  margin: -0.7vw 5.5vw;
}
